body {
            font-family: Arial, sans-serif;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #444;
            padding: 6px;
            text-align: center;
        }
        th {
            background: #ccc;
        }
        .side-table {
            width: 20%;
            vertical-align: top;
        }
        .main-table {
            width: 80%;
            height: 100% ;
        }
        .arrow {
            font-size: 24px;
            vertical-align: middle;
        }
        .metas{
            width: 100px;
        }
        .papeisInput {
            width: 100%;
            height: 150px;
            box-sizing:border-box;
            
            resize: vertical;
        }  
        textarea, input[type="text"] {
            width: 95%;
            box-sizing: border-box;
            resize: vertical;
        }
        .section-title {
            background: #e0e0e0;
            font-weight: bold;
            text-align: left;
            padding-left: 8px;
            text-align: center;
        } 
        .numeroPapeis {
            margin: 0;
            position: relative;
            font-weight: bold;
        }   